*.apk
*.exe
*.iml
*.jks

.DS_Store
.externalNativeBuild
output.json
output-metadata.json

/.git/
/.gradle/
/.idea/
/build/
/libs/**/build/
/captures/
/release/
/tools/

/local.properties
/sign.properties