*.apk
*.zip
*.exe
*.iml
*.jks
*.log
*.ffs_db
*.patch
*.salive
.tmp_*.txt

.DS_Store
.externalNativeBuild
output.json
output-metadata.json
desktop.ini

.bak/
.git/
.gradle/
.hprof/

!.run

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/shared-intellij-idea-settings.zip

/build/
/libs/**/build/
/modules/**/build/
/plugin-api/**/build/
/captures/
/release/
/releases/
/tools/

/gradle/wrappers/backup/

/local.properties
/sign.properties
/*dependecies_tree.txt

**/assets-app/declarations/
**/assets-app/sample/declarations/
