*.apk
*.zip
*.exe
*.iml
*.jks
*.log
*.ffs_db

.DS_Store
.externalNativeBuild
output.json
output-metadata.json
desktop.ini
sync.ffs_db

.bak/
.git/
.gradle/
.hprof/

!.run

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/shared-intellij-idea-settings.zip

/build/
/libs/**/build/
/modules/**/build/
/captures/
/release/
/releases/
/tools/

/local.properties
/sign.properties
/*dependecies_tree.txt

**/assets-app/declarations/
**/assets-app/sample/declarations/